.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button,
h1,
h2,
input,
p,
a {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 16px !important;
}

a {
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 16px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

nav ul li a:hover, a:focus {
  background-color: #3d4148;
}